body{
    background: dodgerblue;
    color: black;
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px;
    border-style: solid;
    border-color: black;
    height: 300px;
    width: 350px;
}

.name_of_objects , #result_object_name , #result_accuracy{
    color: greenyellow;
}